#stacks_in_46_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_46_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_46_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_46_page1>.s3_row>.s3_column {
	padding: 0 10px;
}







  


@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_46_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_46_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




  

#stacks_in_46_page1 {
	margin: 20px 0px 20px 0px;
}
#google-container-stacks_in_62_page1 {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
  #google-container-stacks_in_62_page1 {
    height: 200px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container-stacks_in_62_page1 {
    height: 300px;
  }
}

#cd-google-map-stacks_in_62_page1 {
  position: relative;
}
#cd-google-map-stacks_in_62_page1 address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: #262626;
  opacity: 0.9;
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  #cd-google-map-stacks_in_62_page1 address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in-stacks_in_62_page1, #cd-zoom-out-stacks_in_62_page1 {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #262626;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../files/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in-stacks_in_62_page1:hover, .no-touch #cd-zoom-out-stacks_in_62_page1:hover {
  background-color: #262626;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in-stacks_in_62_page1, #cd-zoom-out-stacks_in_62_page1 {
    margin-left: 50px;
  }
}

#cd-zoom-in-stacks_in_62_page1 {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in-stacks_in_62_page1 {
    margin-top: 50px;
  }
}

#cd-zoom-out-stacks_in_62_page1 {
  background-position: 50% -32px;
}

#cd-google-map .post img,  #cd-google-map .post object  {
    max-width: 100%;
}#stacks_in_32_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_32_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_32_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_32_page1>.s3_row>.s3_column {
	padding: 0 10px;
}







  


@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_32_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_32_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}




  

#stacks_in_32_page1 {
	margin: 20px 0px 20px 0px;
}
#google-container-stacks_in_63_page1 {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
  #google-container-stacks_in_63_page1 {
    height: 200px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container-stacks_in_63_page1 {
    height: 300px;
  }
}

#cd-google-map-stacks_in_63_page1 {
  position: relative;
}
#cd-google-map-stacks_in_63_page1 address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: #262626;
  opacity: 0.9;
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  #cd-google-map-stacks_in_63_page1 address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in-stacks_in_63_page1, #cd-zoom-out-stacks_in_63_page1 {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #262626;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../files/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in-stacks_in_63_page1:hover, .no-touch #cd-zoom-out-stacks_in_63_page1:hover {
  background-color: #262626;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in-stacks_in_63_page1, #cd-zoom-out-stacks_in_63_page1 {
    margin-left: 50px;
  }
}

#cd-zoom-in-stacks_in_63_page1 {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in-stacks_in_63_page1 {
    margin-top: 50px;
  }
}

#cd-zoom-out-stacks_in_63_page1 {
  background-position: 50% -32px;
}

#cd-google-map .post img,  #cd-google-map .post object  {
    max-width: 100%;
}